{% extends "base.html.twig" %}

{% block page_content %}
    <div class="row">
        <div class="col-md-3">
            <ul class="nav flex-column">
                {% for link in links %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ link.url }}">{{ link.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            <h1>Welcome to the Admin Panel</h1>
            <p>Select a task from the left sidebar.</p>
        </div>
    </div>
{% endblock %}
